/* Contenedor principal */
.ProyectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vmax;
    
}

/* ////////// generales //////////////// */
  
/* Proyectos */
.ProyectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    padding: 5vmax 2vmax;
    border: 2px solid rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    margin-bottom: 5vmax;
    overflow: hidden; /* Ocultamos el contenido desbordado */   
    transition: all 0.4s ease; /* Transición suave para efectos */   
}

/* Efecto de brillo (glow) */
.ProyectContainer::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.051); /* Brillo blanco sutil */
    opacity: 0;
    transition: all 0.6s ease;
    transform: rotate(30deg);
}
  
.ProyectContainer:hover::before {
    opacity: 1; /* Muestra el brillo al hacer hover */
    top: 50%;
    left: 50%; /* Mueve el brillo hacia la parte inferior derecha */
}



/* ///////////////////////////////////////////////// */

/* Proyectos del centro */
.ProyectContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    padding: 5vmax 2vmax;
    border: 2px solid rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    margin-bottom: 5vmax;
    overflow: hidden; /* Ocultamos el contenido desbordado */   
    transition: all 0.4s ease; /* Transición suave para efectos */   
}

/* Efecto de brillo (glow) */
.ProyectContainer2::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.051); /* Brillo blanco sutil */
    opacity: 0;
    transition: all 0.6s ease;
    transform: rotate(65deg);
}
  
.ProyectContainer2:hover::before {
    opacity: 1; /* Muestra el brillo al hacer hover */
    top: 50%;
    right: 2%; /* Mueve el brillo hacia la parte inferior derecha */
}

/* //////////////////////////////////////////////////////////////// */

  
/* Contenedor de las imágenes */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    background-color: transparent;   
}

/* ///////////////////////////////////////////////////////////////////// */



/* //////////////// imagenes izq - der ///////////////// */

/* Tamaño inicial de las imágenes para 1 y 3 */

.trackerLaptop {
    width: 35vmax;
    margin-right: 2vmax;
    margin-left: 2vmax; 
    background-color: transparent;       
}
  
.trackerMovile {
    width: 12vmax;  
    background-color: transparent;   
}
  
/*  efecto para Imágenes 1 y 3 */
.trackerLaptop, .trackerMovile {
    transition: transform 0.5s ease;    
}
 
  
/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) */
  .ProyectContainer:hover .trackerLaptop,
  .ProyectContainer:hover .trackerMovile {
    transform: scale(0.9) translateX(100px); /* Encoge las imágenes al hacer hover */    
} 



/*  Tamaño inicial de las imágenes para 2  */

.trackerLaptop2 {
    width: 35vmax;
    transition: transform 0.5s ease;
    background-color: transparent;
}
  
.trackerMovile2 {
    width: 12vmax;
    transition: transform 0.5s ease;
    margin-left: 2vmax;
    margin-right: 2vmax;
    background-color: transparent;
}

/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) */
.ProyectContainer:hover .trackerLaptop2,
.ProyectContainer:hover .trackerMovile2 {
    transform: scale(0.9) translateX(-130px); /* Encoge las imágenes al hacer hover */  
}

/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) 2 */
.ProyectContainer2:hover .trackerLaptop2,
.ProyectContainer2:hover .trackerMovile2 {
    transform: scale(0.9) translateX(-130px); /* Encoge las imágenes al hacer hover */  
}


/* /////////////////////////////////////////////////////////////////// */



/* //////////////// div informacion izq - der ///////////////// */
 
/* ////////////Div de información del proyecto (inicialmente oculto a la izquierda)///////// */

.project-info {
    position: absolute;
    left: -100%; /* Comienza fuera de la pantalla */
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.8vmax 0 1.8vmax 1.5vmax;
    transition: left 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
  
/* Mostrar el div con la información al hacer hover sobre el contenedor */
.ProyectContainer:hover .project-info {
    left: 0; /* Se desliza hacia su posición visible */    
}


/* ////////////Div de información del proyecto (inicialmente oculto a la derecha)///////// */

.project-info2 {
    position: absolute;
    right: -100%; /* Comienza fuera de la pantalla */
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.8vmax 1vmax 1.8vmax 0.5vmax ;
    transition: right 0.8s ease; 
}
  
/* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
.ProyectContainer2:hover .project-info2 {
    right: 0; /* Se desliza hacia su posición visible */
}


/* ////////////div del logo de github (inicialmente oculto a arriba)///////// */

.project-infoBajo {
    position: absolute;
    top: -100%; /* Comienza fuera de la pantalla */
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.122);
    padding: 0.5vmax;
    transition: top 0.6s ease;
    display: flex;
    justify-content: center;        
}

/* ///// diferentes colores para cada proyecto///// */
.gatoAncor {
    text-decoration: none;
    font-size: 4vmax;
    transition: transform 0.6s ease;
    background-color: transparent;    
}

.gatoAncor:hover {
    transform: scale(1.1);
    background-color: transparent !important;

}


.gato {
    font-size: 4vmax;
    color: #E6035A;  
}

.gato:hover {
    color: #520066;
}

.gato2 {
    font-size: 3.5vmax;
    color: #ff3333;
    margin-left: 2vmax; 
    background-color: transparent;
    transform-origin: center;
   
}

.gato2:hover {
    color: #ff8e8e;
}

.gatoImperio {
    font-size: 4vmax;
    color: #F0E541;
    text-decoration: none;
}

.gatoImperio:hover {
    color: #FE7247;
}

.gatoTracker {
    font-size: 4vmax;
    color: #2EFF4D;
    text-decoration: none;
}

  
/* Mostrar el div con la información al hacer hover sobre el contenedor */
.ProyectContainer:hover .project-infoBajo {
    top: 0; /* Se desliza hacia su posición visible */
    
}

/* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
.ProyectContainer2:hover .project-infoBajo {
    top: 0; /* Se desliza hacia su posición visible */
    
}


/* ///////////////////////////////////////////////////////////// */


/* //////////// bloque de tecnologias//////////////////// */

/* contenido dentro de las cards */

.travelTechContainer2 {
    padding-top: 0.5vmax; /*importante para el responsive  */
    
}

/* titulo que presenta las tecnologias en general "tecnologias"*/
.techTitle {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.5vmax;
    margin-bottom: 0.9vmax;
}

/* seccion de logos de tecnologias */
.logosContainer {
    display:flex;
    justify-content: start;
    gap: 1vmax;
    margin-bottom: 1vmax;
    

}

/* seccion de logos de tecnologias graficas*/
.logosContainer2 {
    display:flex;
    justify-content: start;
    gap: 1vmax;
   
  
}

/* logos en general */
.logos {
    width: 1.8vmax;    
}


/* ///////////////////////////////////////////////////////////// */

/* nombres de proyectos con su *tipografia personalizada */
.proyectNameDevs {
    font-family: "Passion One", sans-serif;
    font-size: 3vmax;
    font-weight: 300;
    color: #77fbfb;
}

.proyectNameImperio {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.2vmax;
    text-align: start;
    color: #F0E541;
}

.proyectNameTracker {
    font-family: "Jockey One", sans-serif;
    font-size: 3.2vmax;
    color: #FF5E23;
}


/* ///////////////////////////////////////////////////////////// */




/*////////////////// subtitulos en general ///////////////*/


/* palabra "descripcion" */
.proyectDevs1 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.1vmax;
    font-weight: lighter;
    
}

/* resto de los textos descriptivo */ 
.proyectDevs {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.2vmax;
    font-weight: 400;
    line-height: 1.18;
}

/* etiqueta hr */
.separador {
    color: rgba(255, 255, 255, 0.318);
    margin-top: 3vmax;
}






















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
    
    
    
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    
    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

  
    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    /* tamaño de fotos 1 y 3*/

    .trackerLaptop {
        width: 38vmax;
        margin-right: 2vmax;
        margin-left: 0.8vmax; 
             
    }
      
    .trackerMovile {
        width: 14vmax;  
          
    }

    /*  Tamaño inicial de las imágenes para 2  */

    .trackerLaptop2 {
        width: 38vmax;
       
    }
    
    .trackerMovile2 {
        width: 14vmax;
        margin-left: 2vmax;
        margin-right: 0.8vmax;
       
    }

    /* contenedor de la info 1 y 2  */

    .project-info {
        width: 27%;
        height: 100%;
        padding: 1.8vmax 0 1.8vmax 1.5vmax;
      
    }

    .project-info2 {
        width: 27%;
        height: 100%;
        padding: 1.8vmax 0.5vmax 1.8vmax 1.5vmax;
      
    }

    /* ///////////////////////////////////////////////////////////// */

    /* nombres de proyectos con su *tipografia personalizada */
    .proyectNameDevs {
        font-size: 4vmax;   
    }

    .proyectNameImperio {
        font-size: 3.5vmax;    
    }

    .proyectNameTracker {
        font-size: 4vmax;    
    }


    /* ///////////////////////////////////////////////////////////// */


    /* palabra "descripcion" */
    .proyectDevs1 {
        font-size: 1.5vmax;       
    }

    /* resto de los textos descriptivo */ 
    .proyectDevs {
        font-size: 1.4vmax;    
    }

    /* titulo que presenta las tecnologias en general "tecnologias"*/
    .techTitle {
        font-size: 1.8vmax;
    }

    /* logos en general */
    .logos {
        width: 2.2vmax;    
    }

    /* etiqueta hr */
    .separador {
        margin-top: 2vmax;
    }
   

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px) {

    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 60vmax;

       
        
             
    }

    /* Efecto de brillo (glow) */
    .ProyectContainer::before {
        opacity: 1; /* Muestra el brillo al hacer hover */
        top:20%;
        left: 30%; 
        
    }
    .ProyectContainer:hover::before {
        opacity: 1; /* Muestra el brillo al hacer hover */
        top: 20%;
        left: 30%; /* Mueve el brillo hacia la parte inferior derecha */
    }

    
    
    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 60vmax;
             
    }

          
    /* Contenedor de las imágenes */
    .image-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3vmax;
        width: 100%; 
        z-index: 5;
        
    }

   

    /* contenedor de la info 1 y 2  */

     .project-info {
        width: 35%;
        height: 100%;
        padding: 1.8vmax 0 1.8vmax 2.5vmax;
        background-color: transparent;
      
    }

    .project-info2 {
        width:35%;
        height: 100%;
        padding: 1.8vmax 0.5vmax 1.8vmax 2.5vmax;
        background-color: transparent;
      
    }
        
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

     


   
   
    
     

}



/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

   
    

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:425px) {
   
   
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:360px) {
    
}
  










 

  
