/* Contenedor principal */
.ProyectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vmax;
    background-color: black;
    
}

/* ////////// generales //////////////// */
  
/* Proyectos */
.ProyectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    padding: 5vmax 2vmax;
    border: 2px solid rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    margin-bottom: 5vmax;
    overflow: hidden; /* Ocultamos el contenido desbordado */   
    transition: all 0.4s ease; /* Transición suave para efectos */   
}

/* Efecto de brillo (glow) */
.ProyectContainer::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.051); /* Brillo blanco sutil */
    opacity: 0;
    transition: all 0.6s ease;
    transform: rotate(30deg);
}
  
.ProyectContainer:hover::before {
    opacity: 1; /* Muestra el brillo al hacer hover */
    top: 50%;
    left: 50%; /* Mueve el brillo hacia la parte inferior derecha */
}



/* ///////////////////////////////////////////////// */

/* Proyectos del centro */
.ProyectContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70%;
    padding: 5vmax 2vmax;
    border: 2px solid rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    margin-bottom: 5vmax;
    overflow: hidden; /* Ocultamos el contenido desbordado */   
    transition: all 0.4s ease; /* Transición suave para efectos */   
}

/* Efecto de brillo (glow) */
.ProyectContainer2::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.051); /* Brillo blanco sutil */
    opacity: 0;
    transition: all 0.6s ease;
    transform: rotate(65deg);
}
  
.ProyectContainer2:hover::before {
    opacity: 1; /* Muestra el brillo al hacer hover */
    top: 50%;
    right: 2%; /* Mueve el brillo hacia la parte inferior derecha */
}

/* //////////////////////////////////////////////////////////////// */

  
/* Contenedor de las imágenes */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    background-color: transparent;   
}

/* ///////////////////////////////////////////////////////////////////// */



/* //////////////// imagenes izq - der ///////////////// */

/* Tamaño inicial de las imágenes para 1 y 3 */

.trackerLaptop {
    width: 35vmax;
    margin-right: 2vmax;
    margin-left: 2vmax; 
    background-color: transparent;       
}
  
.trackerMovile {
    width: 12vmax;  
    background-color: transparent;   
}
  
/*  efecto para Imágenes 1 y 3 */
.trackerLaptop, .trackerMovile {
    transition: transform 0.5s ease;    
}
 
  
/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) */
  .ProyectContainer:hover .trackerLaptop,
  .ProyectContainer:hover .trackerMovile {
    transform: scale(0.9) translateX(100px); /* Encoge las imágenes al hacer hover */    
} 



/*  Tamaño inicial de las imágenes para 2  */

.trackerLaptop2 {
    width: 35vmax;
    transition: transform 0.5s ease;
    background-color: transparent;
}
  
.trackerMovile2 {
    width: 12vmax;
    transition: transform 0.5s ease;
    margin-left: 2vmax;
    margin-right: 2vmax;
    background-color: transparent;
}

/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) */
.ProyectContainer:hover .trackerLaptop2,
.ProyectContainer:hover .trackerMovile2 {
    transform: scale(0.9) translateX(-130px); /* Encoge las imágenes al hacer hover */  
}

/* Efecto hover en las imágenes (se encogen y se desplazan hacia arriba) 2 */
.ProyectContainer2:hover .trackerLaptop2,
.ProyectContainer2:hover .trackerMovile2 {
    transform: scale(0.9) translateX(-130px); /* Encoge las imágenes al hacer hover */  
}


/* /////////////////////////////////////////////////////////////////// */



/* //////////////// div informacion izq - der ///////////////// */
 
/* ////////////Div de información del proyecto (inicialmente oculto a la izquierda)///////// */

.project-info {
    position: absolute;
    left: -100%; /* Comienza fuera de la pantalla */
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.8vmax 0 1.8vmax 1.5vmax;
    transition: left 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
  
/* Mostrar el div con la información al hacer hover sobre el contenedor */
.ProyectContainer:hover .project-info {
    left: 0; /* Se desliza hacia su posición visible */    
}


/* //Div de información del proyecto (inicialmente oculto a la derecha) */

.project-info2 {
    position: absolute;
    right: -100%; /* Comienza fuera de la pantalla */
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.8vmax 1vmax 1.8vmax 0.5vmax ;
    transition: right 0.8s ease; 
}
  
/* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
.ProyectContainer2:hover .project-info2 {
    right: 0; /* Se desliza hacia su posición visible */
}


/* ////////////div del logo de github (inicialmente oculto a arriba)///////// */

.project-infoBajo {
    position: absolute;
    top: -100%; /* Comienza fuera de la pantalla */
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.122);
    padding: 0.5vmax;
    transition: top 0.6s ease;
    display: flex;
    justify-content: center;        
}

/* ///// diferentes colores para cada proyecto///// */
.gatoAncor {
    text-decoration: none;
    font-size: 4vmax;
    transition: transform 0.6s ease;
       
}

.gatoAncor:hover {
    transform: scale(1.1);
    

}


.gato {
    font-size: 4vmax;
    color: #E6035A;  
}

.gato:hover {
    color: #520066;
}

.gato2 {
    font-size: 3.5vmax;
    color: #ff3333;
    margin-left: 2vmax; 
    background-color: transparent;
    transform-origin: center;
   
}

.gato2:hover {
    color: #ff8e8e;
}

.gatoImperio {
    font-size: 4vmax;
    color: #F0E541;
    text-decoration: none;
}

.gatoImperio:hover {
    color: #FE7247;
}

.gatoTracker {
    font-size: 4vmax;
    color: #2EFF4D;
    text-decoration: none;
}

.gatoTracker:hover {
    color: #FBF979;
   
}

.verEnRedirection {
    display: none;
}

  
/* Mostrar el div con la información al hacer hover sobre el contenedor */
.ProyectContainer:hover .project-infoBajo {
    top: 0; /* Se desliza hacia su posición visible */
    
}

/* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
.ProyectContainer2:hover .project-infoBajo {
    top: 0; /* Se desliza hacia su posición visible */
    
}


/* ///////////////////////////////////////////////////////////// */


/* //////////// bloque de tecnologias//////////////////// */

/* contenido dentro de las cards */

.travelTechContainer2 {
    padding-top: 0.5vmax; /*importante para el responsive  */
    
}

/* titulo que presenta las tecnologias en general "tecnologias"*/
.techTitle {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.5vmax;
    margin-bottom: 0.9vmax;
}

/* seccion de logos de tecnologias */
.logosContainer {
    display:flex;
    justify-content: start;
    gap: 1vmax;
    margin-bottom: 1vmax;
    

}

/* seccion de logos de tecnologias graficas*/
.logosContainer2 {
    display:flex;
    justify-content: start;
    gap: 1vmax;
   
  
}

/* logos en general */
.logos {
    width: 1.8vmax;    
}


/* ///////////////////////////////////////////////////////////// */

/* nombres de proyectos con su *tipografia personalizada */
.proyectNameDevs {
    font-family: "Passion One", sans-serif;
    font-size: 3vmax;
    font-weight: 300;
    color: #77fbfb;
}

.proyectNameImperio {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.2vmax;
    text-align: start;
    color: #F0E541;
}

.proyectNameTracker {
    font-family: "Jockey One", sans-serif;
    font-size: 3.2vmax;
    color: #FF5E23;
}


/* ///////////////////////////////////////////////////////////// */




/*////////////////// subtitulos en general ///////////////*/


/* palabra "descripcion" */
.proyectDevs1 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.1vmax;
    font-weight: lighter;
    
}

/* resto de los textos descriptivo */ 
.proyectDevs {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.2vmax;
    font-weight: 400;
    line-height: 1.18;
}

/* etiqueta hr */
.separador {
    color: rgba(255, 255, 255, 0.318);
    margin-top: 3vmax;
}






















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

   
    
    
    
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    
    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

  
    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 40vmax;
         
    }

    /* tamaño de fotos 1 y 3*/

    .trackerLaptop {
        width: 38vmax;
        margin-right: 2vmax;
        margin-left: 0.8vmax; 
             
    }
      
    .trackerMovile {
        width: 14vmax;  
          
    }

    /*  Tamaño inicial de las imágenes para 2  */

    .trackerLaptop2 {
        width: 38vmax;
       
    }
    
    .trackerMovile2 {
        width: 14vmax;
        margin-left: 2vmax;
        margin-right: 0.8vmax;
       
    }

    /* contenedor de la info 1 y 2  */

    .project-info {
        width: 27%;
        height: 100%;
        padding: 1.8vmax 0 1.8vmax 1.5vmax;
      
    }

    .project-info2 {
        width: 27%;
        height: 100%;
        padding: 1.8vmax 0.5vmax 1.8vmax 1.5vmax;
      
    }

    /* ///////////////////////////////////////////////////////////// */

    /* nombres de proyectos con su *tipografia personalizada */
    .proyectNameDevs {
        font-size: 4vmax;   
    }

    .proyectNameImperio {
        font-size: 3.5vmax;    
    }

    .proyectNameTracker {
        font-size: 4vmax;    
    }


    /* ///////////////////////////////////////////////////////////// */


    /* palabra "descripcion" */
    .proyectDevs1 {
        font-size: 1.5vmax;       
    }

    /* resto de los textos descriptivo */ 
    .proyectDevs {
        font-size: 1.4vmax;    
    }

    /* titulo que presenta las tecnologias en general "tecnologias"*/
    .techTitle {
        font-size: 1.8vmax;
    }

    /* logos en general */
    .logos {
        width: 2.2vmax;    
    }

    /* etiqueta hr */
    .separador {
        margin-top: 2vmax;
    }
   

}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

    /* Proyectos */
    .ProyectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 105vmax;

       
        
             
    }

    /* Efecto de brillo deshacer */
    .ProyectContainer::before {
        opacity: 1; /* Muestra el brillo al hacer hover */
        top:-15%;
        left: 40%; 
        transform: rotate(65deg);
        width: 200%;
        
        
    }
    .ProyectContainer:hover::before {
        opacity: 1; /* Muestra el brillo al hacer hover */
        top: -15%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }

    
    
    .ProyectContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 105vmax;
      
             
    }

    .ProyectContainer2::before {
        content: "";
        top: 40%;
        right: -10%;
        opacity: 1;
        transform: rotate(22deg);
        height: 105%;
        width: 200%;
        
    }
      
    .ProyectContainer2:hover::before {
        opacity: 1; /* Muestra el brillo al hacer hover anular! */
        top: 40%;
        right: -10%; /* Mueve el brillo hacia la parte inferior derecha */
    }



    /* Efecto hover en las imágenes anular! */
    .ProyectContainer:hover .trackerLaptop,
    .ProyectContainer:hover .trackerMovile {
    transform: scale(1) translateX(0px); /* Encoge las imágenes al hacer hover */    
    } 

    /* Efecto hover en las imágenes anular!*/
    .ProyectContainer2:hover .trackerLaptop2,
    .ProyectContainer2:hover .trackerMovile2 {
    transform: scale(1) translateX(0px); /* Encoge las imágenes al hacer hover */  
    }


   

          
    /* Contenedor de las imágenes */
    .image-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3vmax;
        width: 100%; 
        z-index: 5;
        margin-top: 4vmax;
        
    }

   

    /* contenedor de la info 1 y 2 breackpoint de corte de efectos hover */

   
    .project-info {
        position: relative;
        left: 0;
        bottom: 0; /* Comienza fuera de la pantalla */
        width: 100%;
        height: 100%;
        padding: 1.8vmax 4vmax 1.8vmax 2vmax;
        transition: none;
        flex-direction: row;
        justify-content:space-between; 
        margin-top: 4vmax; 
        background-color: transparent;  
    }
      
    /* Mostrar el div con la información al hacer hover sobre el contenedor */
    .ProyectContainer:hover .project-info {
        bottom: 0; 
            
    }

    
    .project-info2 {
        position: relative;
        right: 0; /* Comienza fuera de la pantalla */
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 1.8vmax 2vmax 1.8vmax 2vmax ;
        transition: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6vmax;
        background-color: transparent;
        
    }
    
    /* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
    .ProyectContainer2:hover .project-info2 {
        bottom: 0; /* Se desliza hacia su posición visible */
    }


    /* bloque de textos !!!a lo ultimo unir los que se repitan!!*/

    .textContainer {
        background-color: transparent;
        padding-right: 2vmax;
    }

    .proyectsTextContain {
        background-color: transparent;
    }

    /* nombres personlizados de proyectos LIMPIAR ESTE CODIGO AL FINAL! */

    .proyectNameDevs {
        background-color: transparent;
    }

    .proyectNameImperio {
        background-color: transparent;
    }

    .proyectNameTracker {
        background-color: transparent;
    }

    /*  */
    .proyectDevs1 {
        background-color: transparent;
        font-size:1.6vmax ; 
    }

    .proyectDevs {
        background-color: transparent;
        font-size: 1.8vmax;
    }

    .travelTechContainer {
        background-color: transparent;
    }

    .travelTechContainer2 {
        background-color: transparent;
    }

    .techTitle {
        background-color: transparent;
        font-size: 2vmax;
        margin-bottom: 2vmax;
    }

    .logosContainer {
        background-color: transparent;
        gap: 2vmax;
    }

    .logosContainer2 {
        background-color: transparent;
        gap: 2vmax;
    }

    .logos {
        background-color: transparent; 
        width: 3.2vmax; 
    }


    /* direccionadores */

    /* ////////////div del logo de github (inicialmente oculto a arriba)///////// */

    .project-infoBajo {
        position: relative;
        top: 0%; /* Comienza fuera de la pantalla */
        bottom: 0%;
        width: 40%;
        height: 20%;
        background-color: transparent;
        padding: 0.5vmax;
        transition: none;
        display: flex;
        justify-content: center;
        gap: 2vmax;        
    }

    /* activacion de parrafo */

    .redirectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .verEnRedirection {
        display: block;
        color: white;
        font-family: "Archivo Narrow", sans-serif;
        
    }

    /* ///// diferentes colores para cada proyecto///// */
    .gatoAncor {
        text-decoration: none;
        font-size: 4vmax;
        transition: transform 0.6s ease;
        background-color: transparent;    
    }

    .gato {
        font-size: 6vmax;
        color: #E6035A; 
        background-color: transparent;  
    }

    .gato2 {
        font-size: 6vmax;
        color: #ff3333;
        margin-left: 0; 
        background-color: transparent;
        transform-origin: center;
        background-color: transparent; 
    
    }

    .gatoImperio {
        font-size: 6vmax;
        color: #F0E541;
        text-decoration: none;
        background-color: transparent; 
    }

    .gatoTracker {
        font-size: 6vmax;
        color: #2EFF4D;
        text-decoration: none;
        background-color: transparent; 
    }

  
    /* Mostrar el div con la información al hacer hover sobre el contenedor */
    .ProyectContainer:hover .project-infoBajo {
        top: 0; /* Se desliza hacia su posición visible */
        
    }

    /* Mostrar el div con la información al hacer hover sobre el contenedor 2 */
    .ProyectContainer2:hover .project-infoBajo {
        top: 0; /* Se desliza hacia su posición visible */
        
    }


    


    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {

    .ProyectContainer {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 102vmax;

       
        
             
    }

    /* Efecto de brillo deshacer */
    .ProyectContainer::before {
        top:-24%;
        left: 40%; 
        transform: rotate(65deg);

        height: 220%;

       
    }
    .ProyectContainer:hover::before {
        top: -24%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }


    .ProyectContainer2 {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 102vmax;  
             
    }

    .image-container {
        gap: 3vmax;
        width: 100%; 
        z-index: 5;
        margin-top: 2vmax;
        
    }


    .project-info {
        position: relative;
        left: 0;
        bottom: 0; /* Comienza fuera de la pantalla */
        padding: 1.8vmax 2vmax 1.8vmax 2vmax;
        transition: none;
        flex-direction: row;
        justify-content:space-between; 
        margin-top: 4vmax; 
          
    }

    .project-info2 {
        position: relative;
        right: 0; /* Comienza fuera de la pantalla */
        bottom: 0;
        padding: 1.8vmax 2vmax 1.8vmax 2vmax ;
        transition: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4vmax;
        
        
    }


   
   
    
     

}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {
 

}



/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
    .ProyectContainer {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 106vmax;

       
        
             
    }

    /* Efecto de brillo deshacer */
    .ProyectContainer::before {
        top:-25%;
        left: 40%; 
        transform: rotate(66deg);
        
    }
    .ProyectContainer:hover::before {
        top: -25%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }


    .ProyectContainer2 {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 106vmax;  
             
    }

    .ProyectContainer2::before {
        content: "";
        top: 30%;
        right: 40%;
        opacity: 1;
        transform: rotate(21deg);
        height: 240%;
        
    }
      
    .ProyectContainer2:hover::before {
        opacity: 1; /* Muestra el brillo al hacer hover anular! */
        top: 30%;
        right: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }

    .image-container {
        gap: 3vmax;
        width: 100%; 
        z-index: 5;
        margin-top: 2vmax;
        
    }


    .project-info {
        position: relative;
        left: 0;
        bottom: 0; /* Comienza fuera de la pantalla */
        padding: 1.8vmax 2vmax 1.8vmax 2vmax;
        transition: none;
        flex-direction: row;
        justify-content:space-between; 
        margin-top: 4vmax; 
          
    }

    .project-info2 {
        position: relative;
        right: 0; /* Comienza fuera de la pantalla */
        bottom: 0;
        padding: 1.8vmax 2vmax 1.8vmax 2vmax ;
        transition: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4vmax;
        
        
    }
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    .ProyectContainer {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 117vmax;
         
    }
      
    .project-info {
        padding: 1.8vmax 2vmax 1.8vmax 2vmax;
        flex-direction: column;
        justify-content:space-between; 
        margin-top: 4vmax; 
          
    }

    .ProyectContainer2 {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 117vmax;  
             
    }

    
    .project-info2 {
        padding: 1.8vmax 2vmax 1.8vmax 2vmax ;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4vmax;
        
        
    }

     /* Efecto de brillo deshacer */
     .ProyectContainer::before {
        top:-40%;
        left: 40%; 
        transform: rotate(66deg);
        
    }
    .ProyectContainer:hover::before {
        top: -40%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {
    .project-infoBajo {
       
        /* Comienza fuera de la pantalla */
        width: 50%;
        height: 20%;
        
        padding: 0.5vmax;
               
    }
   
    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {
   
    /* Efecto de brillo deshacer */
    .ProyectContainer::before {
        left: 40%; 
        transform: rotate(66deg);
        
    }
    .ProyectContainer:hover::before {
        left: 40%; 
    }

}

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

     .ProyectContainer {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 122vmax;
         
    }

    .ProyectContainer2 {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 122vmax;  
             
    }

     /* Efecto de brillo deshacer */
     .ProyectContainer::before {
        top: -55vmax;
        left: 40%; 
        transform: rotate(66deg);
        
    }
    .ProyectContainer:hover::before {
        top: -55vmax;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }


    .project-infoBajo {
       
        /* Comienza fuera de la pantalla */
        width: 70%;
        height: 20%;
        
        padding: 2vmax;
               
    }
    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:376px) {
    .ProyectContainer {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 128vmax;
         
    }

    .ProyectContainer2 {
        width: 90%;
        padding: 5vmax 2vmax;
        margin-bottom: 5vmax;
        height: 128vmax;  
             
    }

    /* Efecto de brillo deshacer */
    .ProyectContainer::before {
        top:-45%;
        left: 40%; 
        transform: rotate(66deg);
        
    }
    .ProyectContainer:hover::before {
        top: -45%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }

    /* Efecto de brillo deshacer */
    .ProyectContainer2::before {
        top:-30%;
        left: 40%; 
        transform: rotate(-66deg);
        
    }
    .ProyectContainer2:hover::before {
        top: -30%;
        left: 40%; /* Mueve el brillo hacia la parte inferior derecha */
    }

    .project-infoBajo {
       
        /* Comienza fuera de la pantalla */
        width: 100%;
        height: 20%;
        
        
               
    }
    
    
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
    .ProyectContainer {    
        height: 132vmax;
         
    }

    .ProyectContainer2 {
        height: 132vmax;  
             
    }

    .project-infoBajo {
       
        /* Comienza fuera de la pantalla */
        width: 100%;
        height: 20%;
        
        
               
    }

    
}












 

  
