/* contenedor principal */
.aboutMeContainer {
    padding-left: 4vmax;
    padding-right: 2vmax;
    overflow: hidden;
}



/* imagenes en general */
.imageAbout {
    width: 2vmax;
}





/* /////////////////contenedor de roadmap y datos ///////////////////*/

.stackContainer {
    display: flex;
    flex-flow: row nowrap;
    

}

/* textos */

.stackTexto {
    margin-top: 5.3vmax;
}


/* ////////////// bloque front /////////////////// */

.frontTitle {
    font-family: Satoshi-Black;
    color: white;
    font-size: 2vmax;
}

.frontLogos {
    display: flex;
    flex-flow: row nowrap;
    gap: 1vmax;
}

.frontLogos i {
   font-size: 2vmax;

}


/* //////////////// bloque diseño ////////////////  */

.diseñador {
    margin-top: 2.5vmax;
    
}

.diseñoLogos {
    display: flex;
    flex-flow: row nowrap;
    gap: 1vmax; 
}

.diseñoLogos i {
    font-size: 2vmax;
}

/* //////////////// bloque otros skills ////////////////  */

.otrosLogos {
    display: flex;
    flex-flow: row nowrap;
    gap: 1vmax; 
}



.otrosLogos i {
    font-size: 2vmax;
    color: rgb(117, 0, 82);

}

.imageAbout2 {
    filter: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(4843%) hue-rotate(182deg) brightness(108%);
    width: 1.8vmax;
}

/* //////////////// bloque idiomas ////////////////  */

.idiomasGral {
    font-family: Satoshi-Black;
    color: white;
    font-size: 1.2vmax;
}

.idiomasCont {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8vmax;

}

.estrellas {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    gap: 0.2vmax;
}

.estrellas i {
    color: #00ff11;
}



/* /////////////// section foto y about me ////////////// */

.titulo {
    font-family: Satoshi-Black;
    color: white;
    font-size: 3vmax; 
}

.textoAboutMe {
    font-family: Satoshi-Black;
    color: white;
    font-size: 1.2vmax;
}




/* ///////////////// lado derecho ////////////////////// */

.aboutFotoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.cvBoton3 {
    font-family: Satoshi-Black;
    font-size: 1.2vmax;
    color: #000000;
    background-color: #00ff11;
    padding: 1vmax 5vmax;
    border: 1px solid #00ff11 ;
    border-radius:5px;
    cursor: pointer;
    position: relative; /* Posición relativa para el efecto glow */
    overflow: hidden; /* Oculta el contenido que se sale del botón */
    transform: perspective(500px); /* Perspectiva para el efecto 3D */
    transition: all 0.4s ease; /* Transición suave para efectos */
}
      
      
      
      
/* Efecto de brillo (glow) */
.cvBoton3::before {
content: "";
position: absolute;
top: -50%;
left: -70%;
width: 200%;
height: 200%;
background: rgba(255, 255, 255, 0.066); /* Brillo blanco sutil */
opacity: 0;
transition: all 0.5s ease;
transform: rotate(60deg);
}

/* Efecto hover */
.cvBoton3:hover {
border: 1px solid #00ff11 ;
background-color: transparent;
color: #00ff11; 
}

.cvBoton3:hover::before {
opacity: 1;
top: -120%;
left: -110%;
}

.textoAboutMe {
    padding: 2vmax 5vmax; /* importanta para responsive */
}















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

    .frontend {
        margin-top: 0.4vmax;
    }

    .diseñador {
        margin-top: 3vmax;
    }
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

   
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:885px)  {

   
        
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:835px)  {

    .aboutMeContainer {
        padding: 0 2vmax;
           
    }

    .diseñador {
        margin-top: 2.7vmax;
    }
    

   /* imagenes en general */
    .imageAbout {
        width: 2.5vmax;
    }

    .frontLogos i {
        font-size: 2.5vmax;
     
    }

    .diseñoLogos i {
        font-size: 2.5vmax;
    }

    .otrosLogos i {
        font-size: 2.5vmax;
    
    }
    
    
    
        
}

/* ++++++++++++++++++++++++ media query |  pantalla movile varios   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:800px) {


}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    .principalRow {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 8vmax;
        
    }
  
}

/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:767px) {

   
 
}


/* ++++++++++++++++++++++++ media query |  pantalla personalizada   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:636px) {
    
  
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

  

}

/* ++++++++++++++++++++++++ media query  | pantalla personal |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:543px) {

    
    
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varias |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {

} 
   
 

/* ++++++++++++++++++++++++ media query  | pantalla moviles varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {

    
}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:391px) {
 
   
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:325px) {
   
    
 
    
}
  